.awesome {
	padding: 80px 0 116px 0;
}
.container {
}
.wrapper {
}
.wrapper__header {
}
.wrapper__text {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
}
.wap {
	margin-top: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.desc {
	width: 350px;
	margin: 10px 15px;
	transition: 1s;
}
.desc:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	transform: scale(1.1);
	transition: 1s;
	padding: 15px;
}
.icon {
	width: 70px;
	height: 70px;
	border: 1px solid #e72424;
	border-radius: 50%;
	margin: 0 auto 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wap i {
	font-size: 30px;
	color: orangered;
	transition: 1s;
}
.wap i:hover {
	transition: all 1.3s ease 0s;
	color: rgba(255, 69, 0, 0.7);
	transform: scale(1.1) rotate(360deg);
}
.desc__title {
	text-align: center;
	margin-bottom: 30px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #333333;
}
.desc__text {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #000000;
}
