.axure {
	padding: 58px 0 38px 0;
	background-image: url(../img/background\ 1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.axure::after {
	content: "";
	display: block;
	background-color: rgba(0, 0, 0, 0.55);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.container {
	position: relative;
	z-index: 2;
}
.container-axure {
	position: relative;
	z-index: 2;
}
.wrapper__title {
}
.wrapper__title-axure {
	color: #ffffff;
}
.wrapper__title-axure::after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	margin: 34px auto;
	background-color: #fff;
}
.wrapper__text {
}
.wrapper__text-axure {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.8);
}

.btn {
	font-family: "Open Sans";
	font-style: normal;

	font-size: 15px;
	width: 135px;
	height: 42px;
	font-weight: 600;
	display: block;
	margin: 57px auto 0;
	color: #fff;
	background: none;
	border: 1px solid #ffffff;
	transition-duration: 0.8;
}
.btn:hover {
	transition-duration: 1;
	color: grey;
	border: 4px solid #949090;
}
.btn:active {
	transform: scale(0.9);
}
