.pricing {
	padding: 80px 0 60px 0;
	background: #f5f5f5;
}
.container {
}
.wrapper {
}
.wrapper__title {
}

.wrapper__text p {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #86878b;
}
.wrap {
	display: flex;
	justify-content: center;
	margin: 62px -15px 0;
	flex-wrap: wrap;
}

.price-list {
	width: 340px;
	margin: 0 15px;
}

.wrap li {
	text-align: center;
	border: 2px solid #f5f5f5;
}
.price-list li:hover {
	text-decoration: 1s;
	transform: translate(10px, 10px) scale(1.1);
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.8);
}
.price-list__tarif {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	background: #333333;
	color: #ffffff;
	padding: 11px 0;
}
.price-list__price {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	background: #333333;
	padding: 33px 0;
}
.price-list__time {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.5);
	background: #333333;
	padding: 17px 0;
}
.price-list__weight {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #86878b;
	background-color: #fff;
	padding: 11px 0;
}
