.testimonials {
	padding: 80px 0 120px 0;
}
.wrapper {
}
.wrapper__title {
}

.wrapper__text {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #86878b;
}
.comment {
	margin-top: 47px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 15px;
	justify-content: center;
}

.commet__wrapper {
	width: 300px;
	margin: 20px 20px 0 20px;
}
.commet__wrapper__text {
	background: #e2e2e2;
	border-radius: 7px;
	padding: 9px 23px;
	position: relative;
}
.commet__wrapper__text a {
	text-decoration: none;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #86878b;
}

.commet__wrapper__text ::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 14px solid #e2e2e2;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	background-color: #fff;
	position: absolute;
	bottom: -14px;
	left: 50px;
}

.wrapper__username {
	display: flex;
	justify-content: space-evenly;
	margin-top: 22px;
}
.wrapper__username__pic {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.wrapper__username__pic:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(73, 68, 68, 0.4);
}
.wrapper__username__pic img {
	height: 100%;
}
.wrapper__username__surname {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.username__surname {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	align-items: center;
	text-align: right;
	color: #333333;
}
.username__position {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #86878b;
}
